#aula{
    font-weight: bold;
    font-size: 30px;
    color: goldenrod;
    background-color: lavenderblush;
    text-align: center;
    padding-top:10px;
}

ul{
    padding: 0;
    margin:0;
    list-style-type: none;
}
ul a{
    width: 200px;
    height: 40px;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(media/menu.png) no-repeat left bottom;

}

ul a:hover, ul .selected a {
    background-position: right bottom;
    background-color:#f99200;
    color: #fff;
    
}

