#aula{
    font-weight: bold;
    font-size: 30px;
    color: goldenrod;
    background-color: lavenderblush;
    text-align: center;
    padding-top:10px;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

table{
    width: 40%;
    border-collapse: separate;
    min-width: 300px;
}

th, td{
    padding: 5px 7px;
}

th{
    text-transform: uppercase;
    border-top: 3px solid #999;
    border-bottom: 3px solid #111;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    text-align: left;;
}

tr.switch{
    background-color: #EFEFEF;
}

.numero{
    text-align: right;
}

tr:hover{
    background-color: #c3e3e5;
}

div#header tr:hover{
    background-color:none;
}
