#aula{
    font-weight: bold;
    font-size: 30px;
    color: goldenrod;
    background-color: lavenderblush;
    text-align: center;
    padding-top:10px;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f2f2f2;

}
p{
    text-align: justify;
    text-indent: 20px;
}

#container{
    width: 960px;
    margin: 0 auto;
    background: white url(media/coluna.png) repeat-y left top;
    max-width: 1280px;
    min-width: 820px;
}

#title{
    background: #225992 url(media/cabecalho2.jpg) no-repeat center;
    height: 200px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 200px;
    color: white;
}

#content{
    width: 73%;
    float:right;
}

#text-left-content{
    width: 61%;
    float:left;
}

#text-right-content{
    padding-left: 10px;
    padding-right: 10px;
    width:32%;
    float:right;
    background: #d1d1d1;
}

#navbar{
    float: left;
    width: 24%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*background: #d1d1d1;*/

}
img.img-news{
    width: 96%;
    padding: 2%;
    max-width:600px;
}

#footer{
    clear:both;
    background: #c4c4c4;
    padding: 5px;
    text-align: center;
    color:white;
}

/*
Configurações NAVBAR
*/

div#navbar ul{
    padding: 0;
    margin:0;
    list-style-type: none;
}
div#navbar ul a{
    width: 90%;
    /*height: 40px;*/
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-indent: 40px;
    line-height: 40px;
    /*background: #d1d1d1;*/

}

div#navbar a:hover, div#navbar .selected a {
    background-color:#9E9E9E;
    color: #fff;
    
}

/*******************/